<!DOCTYPE html>
<html lang="en" class="min-h-full relative">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Samyak</title>
  <link rel="preload" href="/fonts/Inter-Regular.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
  <link rel="preload" href="/fonts/Inter-Italic.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
  <link rel="preload" href="/fonts/Inter-Medium.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
  <link rel="preload" href="/fonts/Inter-SemiBold.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
  <link rel="preload" href="/fonts/Inter-Bold.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
  <link rel="preload" href="/fonts/fira-mono-v9-latin-regular.woff2" crossorigin="anonymous" as="font"
    type="font/woff2" />

  <link rel="stylesheet" href="/main.css" />
  <script>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
    } else {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('theme', 'light');
    }

    window.addEventListener('load', (event) => {
      const darkmode = document.getElementById('darkmode');
      darkmode.onclick = function togglemode() {

        document.documentElement.classList.toggle('dark');
        if (localStorage.getItem('theme') === "light") {
          localStorage.setItem('theme', 'dark');
        } else {
          localStorage.setItem('theme', 'light');
        }
      }
    })
  </script>
</head>

<body class="bg-purple-100 dark:bg-darkgray dark:text-white m-0 mb-24 p-4">
  {{ if ne .Page.Kind "404" }}
  {{- partial "header.html" . -}}
  {{ end }}
  <main id="content" class=" mx-auto container lg:w-7/12 p-2 mt-4 ">
    {{- block "main" . }}{{- end -}}
  </main>
  {{ if (ne .Page.Kind "404") }}
  {{- partial "footer.html" . -}}
  {{ end }}
</body>

</html>