<footer
  class="absolute left-0 bottom-0 w-full flex flex-col space-y-4 justify-center items-center overflow-hidden h-24"
>
  <ul
    class="flex flex-row space-x-2 justify-center text-sm text-gray-600 dark:text-gray-300"
  >
    <li>
      <a
        href="https://www.linkedin.com/in/samyak-bakliwal-1913b2133/"
        target="_blank"
        rel="noopener noreferrer"
        >Linkedin</a
      >
    </li>
    <li>
      <a
        href="https://github.com/hmble"
        target="_blank"
        rel="noopener noreferrer"
        >Github</a
      >
    </li>
  </ul>
  <div>
    <span class="text-sm text-purple-500 font-medium"
      >Made with free time after work</span
    >
  </div>
</footer>
