/*!
  Syntax theme values reference
  Light Theme : https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css
  Dark Theme : https://github.com/highlightjs/highlight.js/blob/main/src/styles/github-dark.css
*/
:root {
  --foreground: #24292e;
  --background: #ffffff;
  --err: #6f42c1;
  --keyword: #d73a49;
  --name: #22863a;
  --nameDecorator: #d73a49;
  --literal: #918b3b;
  --comment: #6a737d;
  --specialStr: #032f62;
  --specialLiteral: #159393;
  --lineHighlight: #fff8c5;
}

.dark {
  --foreground: #c9d1d9;
  --background: #0d1117;
  --err: #d2a8ff;
  --keyword: #ff7b72;
  --name: #7ee787;
  --nameDecorator: #ff7b72;
  --literal: #b8bb26;
  --comment: #8b949e;
  --specialStr: #a5d6ff;
  --specialLiteral: #8ec07c;
  --lineHighlight: rgba(187, 128, 9, 0.15);
}
/* Background */
.chroma {
  color: var(--foreground);
  background-color: var(--background);
}
/* Other */
.chroma .x {
  color: var(--foreground);
}
/* Error */
.chroma .err {
  color: var(--err);
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: var(--lineHighlight);
  box-shadow: inset 4px 0 0 rgba(187, 128, 9, 0.4);
}
/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}
/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}
/* Keyword */
.chroma .k ,/* KeywordConstant */
.chroma .kc ,/* KeywordDeclaration */
.chroma .kd ,/* KeywordNamespace */
.chroma .kn ,/* KeywordPseudo */
.chroma .kp ,/* KeywordReserved */
.chroma .kr /* KeywordType */ ,
.chroma .nt /* NameTag */ {
  color: var(--keyword);
}

.chroma .n ,/* Name */
            /* NameAttribute */
.chroma .na ,/* NameBuiltin */
.chroma .nb ,/* NameBuiltinPseudo */
/* NameClass */
.chroma .nc ,/* GenericSubheading */
.chroma .gu ,/* NameEntity */
.chroma .ni ,/* NameException */
.chroma .ne ,/* NameFunction */
.chroma .nf ,/* NameFunctionMagic */
.chroma .fm ,/* NameLabel */
.chroma .nl ,/* NameNamespace */
.chroma .nn ,/* NameOther */
.chroma .nx ,/* NameProperty */
.chroma .py ,/* NameVariable */
.chroma .nv ,/* NameVariableClass */
.chroma .vc ,/* NameVariableGlobal */
.chroma .vg ,/* NameVariableMagic */
.chroma .vm ,/* GenericHeading */
.chroma .kt ,
.chroma .gh ,
.chroma .bp ,/* NameVariableInstance */
.chroma .vi ,/* GenericDeleted */
.chroma .gd {
  color: var(--err);
}
/* NameConstant */
.chroma .no ,/* NameDecorator */
.chroma .nd ,/* LiteralStringSymbol */
.chroma .ss ,/* LiteralNumber */
.chroma .m ,/* LiteralNumberBin */
.chroma .mb ,/* LiteralNumberFloat */
.chroma .mf ,/* LiteralNumberHex */
.chroma .mh ,/* LiteralNumberInteger */
.chroma .mi ,/* LiteralNumberIntegerLong */
.chroma .il ,/* LiteralNumberOct */
.chroma .mo {
  color: var(--nameDecorator);
}

/* Literal */
.chroma .l ,/* LiteralDate */
.chroma .ld ,/* LiteralString */
.chroma .s ,/* LiteralStringAffix */
.chroma .sa ,/* LiteralStringBacktick */
.chroma .sb ,/* LiteralStringChar */
.chroma .sc ,/* LiteralStringDelimiter */
.chroma .dl ,/* LiteralStringDoc */
.chroma .sd ,/* LiteralStringDouble */
.chroma .s2 ,/* LiteralStringEscape */
.chroma .se ,/* LiteralStringHeredoc */
.chroma .sh ,/* LiteralStringInterpol */
/* LiteralStringOther */
.chroma .sx ,/* LiteralStringSingle */
.chroma .s1 ,/* GenericInserted */
.chroma .gi ,/* CommentPreprocFile */
.chroma .cpf {
  color: var(--literal);
}
.chroma .si ,
/* CommentPreproc */
.chroma .cp {
  color: var(--specialStr);
}
/* LiteralStringRegex */
.chroma .sr {
  color: var(--specialLiteral);
}
/* Operator */
.chroma .o ,/* OperatorWord */
.chroma .ow ,/* Punctuation */
.chroma .p ,/* Generic */
.chroma .g ,/* GenericEmph */
/* GenericError */
.chroma .gr ,/* GenericOutput */
.chroma .go ,/* GenericPrompt */
.chroma .gp ,/* GenericStrong */
/* GenericTraceback */
.chroma .gt {
  color: var(--foreground);
}
/* Comment */
.chroma .c ,/* CommentHashbang */
.chroma .ch ,/* CommentMultiline */
.chroma .cm ,/* CommentSingle */
.chroma .c1 ,/* CommentSpecial */
.chroma .cs {
  color: var(--comment);
}
.chroma .ge {
  color: var(--foreground);
  font-style: italic;
}
.chroma .gs {
  color: var(--foreground);
  font-weight: bold;
}
/* GenericUnderline */
.chroma .gl {
  color: var(--foreground);
  text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
  color: var(--background);
  text-decoration: underline;
}
